<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de autos</title>
</head>
<body>
    <nav>
        <a href={% url "home" %}>Inicio</a>
        <a href={% url "crear_auto" %}>Crear Auto</a>
        <a href={% url "listado_de_autos" %}>Listado de autos</a>
    </nav>
    <h1>Listado de autos </h1>
    
    <form action="">
        {{formulario}}
        <input type="submit" value="Buscar">
    </form>

    {% if autos %}
    <ul>
    {% for auto  in autos %}
        <li>
           {{auto}}
        </li>
    {% endfor %}
    </ul>

    {% else %}
    <p>No hay autos cargados.</p>
    {% endif %}

</body>
</html>